.text{
    color: black;
    font-weight: 600
}

.text:hover{
    color: white;
    background-color: none;
}

.text1{
    color: black;
    font-weight: 600
}

.text1:hover{
    color: red;
    background-color: none;
}

